<h1><small>Marvel y DC</small></h1>
<hr>
<div class="card-columns">
<!-- *ngFor="let heroe of heroes; let i = index" -->
<!-- Llaves cuadradas yo puedo mandar el valor que tengo en mi componente a 
el componente hijo -->
<app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="heroe" [indice]="i" *ngFor="let heroe of heroes; let i = index; let i = index"></app-heroe-tarjeta>
<!--
  $event recibe el evento que se esta emitiendo de aquí heroeSeleccionado
  (heroeSeleccionado)="verHeroe( $event )" -->
</div>